DATABASE_URL="postgresql://postgres:postgres@localhost:5432/armanet"
DIRECT_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/armanet"
REDIS_URL="redis://localhost:6379"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="please-change-me"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="changeme"
PLAYWRIGHT_CHROMIUM_PATH=""
SCREENSHOT_DIR="./screenshots"
